<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <link rel="icon" href="https://ssl.pstatic.net/static/nng/resource/p/static/media/favi.ico" type="image/x-icon">
  <link rel="shortcut icon" href="https://ssl.pstatic.net/static/nng/resource/p/static/media/favi.ico" type="image/x-icon">
  <meta property="og:title" content="네이버 게임">
  <meta property="og:image" content="https://ssl.pstatic.net/static/nng/resource/m/static/media/og_500x500.png">
  <meta property="og:description" content="게임을 더 재미있게! 게임에 관한 모든 것">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
